<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookland</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bookland.styles.css" asp-append-version="true" />
</head>

<body>

    <header class="p-3">
        <div class="container">
            <header
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <ul class=" fw-bold nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 fs-3">
                    <li class="text-primary"><a class="nav-link" href="/">Bookland</a></li>
                </ul>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a asp-area="" asp-page="/Agregar" class="nav-link px-2 text-muted fs-5 ">Books categories</a></li>
                    <li><a asp-area="" asp-controller="UserView" asp-action="User" class="nav-link px-2 text-muted fs-5">Loan-book</a></li>
                    <li><a asp-area="" asp-controller="AdminView" asp-action="Admin" class="nav-link px-2 text-muted fs-5">Services</a></li>
                </ul>

                <div class="text-end">
                    <button type="button" class="btn btn-primary fw-bold" asp-area="" asp-controller="Auth" asp-action="Login">Log in</button>
                </div>
            </header>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted d-flex flex-wrap justify-content-evenly align-items-center py-2">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 fs-3 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <i class="text-muted bi bi-book"></i>

            </a>
            <span class="mb-3  mb-md-0 text-body-secondary">&copy; 2024 BKL, Inc.</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3 fs-4"><a class="text-muted" href="#"><i class="bi bi-facebook"></i>

            <li class="ms-3 fs-4"><a class="text-muted" href="#"><i class="bi bi-instagram"></i>

            <li class="ms-3 fs-4"><a class="text-muted" href="#"><i class="bi bi-twitter-x"></i>

        </ul>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
