@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://img.freepik.com/vector-gratis/gente-ilustracion-vector-plano-biblioteca_74855-6607.jpg?t=st=1724291647~exp=1724295247~hmac=b116ed8fa38bc21f756b207ca231aa1ace164106c4fcaa439109d191e4ae1d49&w=1380"
                class="d-block mx-lg-auto img-fluid" alt="Hero Bookland" width="700" height="500">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 fs-3">Welcome to <span
                    class="text-primary">BKL.</span> <br> Your Gateway to Creativity.</h1>
            <p class="lead">Discover a world of knowledge and imagination with a vast collection of books, resources,
                and digital content curated just for you.</p>

        </div>
    </div>
</div>

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 text-body-emphasis text-center">Books Categories</h2>
    <p class="text-center lead">Discover a world of literature with our carefully curated book categories. Whether you’re drawn to history or fantasy, there’s a story waiting for you.</p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#collection" />
                </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis text-center display-6">History</h3>
            <p class="text-center px-5 lead">Discover key events and cultures that shaped our world.</p>
        </div>

        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#collection" />
                </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis text-center display-6">Science</h3>
            <p class="text-center px-5 lead">Uncover the mysteries of the natural world and beyond.</p>
        </div>

        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#collection" />
                </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis text-center display-6">Romance</h3>
            <p class="text-center px-5 lead">Dive into love stories filled with passion and emotion.</p>
        </div>

        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#collection" />
                </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis text-center display-6">Mystery</h3>
            <p class="text-center px-5 lead">Embark on thrilling journeys filled with excitement and daring exploits.</p>
        </div>

        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#collection" />
                </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis text-center display-6">Poetry</h3>
            <p class="text-center px-5 lead">Savor the beauty of language and emotion in verse.</p>
        </div>

        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#collection" />
                </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis text-center display-6">Fantasy</h3>
            <p class="text-center px-5 lead">Escape to magical worlds of imagination and adventure.</p>
        </div>

    </div>
</div>
