@{
    ViewData["Title"] = "Home Page";
}

<div class="container px-4 pt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../assets/img/book-lover-81.png" class="d-block mx-lg-auto img-fluid" alt="Hero Bookland"
                display-6>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to <span class="text-primary">BKL.</span>
                <br> Your Creative Gateway.
            </h1>
            <p class="lead fs-4">Discover a world of knowledge and imagination with a vast collection of books,
                resources,
                and digital content curated just for you.</p>

        </div>
    </div>
</div>



<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 text-body-emphasis text-center display-6">Books Categories</h2>
    <p class="text-center lead">Discover a world of literature with our carefully curated book categories. Whether
        you’re drawn to history or fantasy, there’s a story waiting for you.</p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        <div class="feature col text-center">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img src="../assets/img/colosseum-11.png" class=" img-fluid" alt="History Books" width="100"
                    height="100">
            </div>
            <h3 class="fs-2 text-body-emphasis display-6">History</h3>
            <p class=" px-5 lead">Discover key events and cultures that shaped our world.</p>
        </div>

        <div class="feature col text-center">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img src="../assets/img/dna-37.png" class=" img-fluid" alt="History Books" width="100" height="100">

            </div>
            <h3 class="fs-2 text-body-emphasis display-6">Science</h3>
            <p class=" px-5 lead">Uncover the mysteries of the natural world and beyond.</p>
        </div>

        <div class="feature col text-center">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img src="../assets/img/couple-84.png" class=" img-fluid" alt="History Books" width="100" height="100">

            </div>
            <h3 class="fs-2 text-body-emphasis display-6">Romance</h3>
            <p class=" px-5 lead">Dive into love stories filled with passion and emotion.</p>
        </div>

        <div class="feature col text-center">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img src="../assets/img/adventure-1-70.png" class=" img-fluid" alt="History Books" width="100"
                    height="100">
            </div>
            <h3 class="fs-2 text-body-emphasis display-6">Mystery</h3>
            <p class="px-5 lead">Embark on thrilling journeys filled with excitement and daring exploits.</p>
        </div>

        <div class="feature col text-center">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img src="../assets/img/book-lover-25.png" class=" img-fluid" alt="History Books" width="100"
                    height="100">
            </div>
            <h3 class="fs-2 text-body-emphasis display-6">Poetry</h3>
            <p class="px-5 lead">Savor the beauty of language and emotion in verse.</p>
        </div>

        <div class="feature col text-center">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img src="../assets/img/dream-40.png" class=" img-fluid" alt="History Books" width="100" height="100">

            </div>
            <h3 class="fs-2 text-body-emphasis display-6">Fantasy</h3>
            <p class="px-5 lead">Escape to magical worlds of imagination and adventure.</p>
        </div>

    </div>
</div>

<div class="container text-center  px-4 py-5">
    <div class="row g-5">
        <div class="col">
            <h2 class="display-3 text-start border-bottom">About <span class="text-primary">us</span></h2>
            <p class="lead text-start fs-4 pt-3">At <span class="text-primary">BKL</span>, we believe in the power of
                stories and knowledge to inspire, educate, and transform lives. Our
                library is a welcoming space for all, offering a diverse collection of books, digital resources, and
                community programs designed to ignite curiosity and foster lifelong learning.
                <br>
                <br>
                Founded in 2024, our mission has always been to connect people with the information, ideas, and
                experiences they need to grow and thrive. Whether you're a lifelong reader, a student seeking resources,
                or someone looking to explore new interests, you'll find something for everyone in our extensive
                catalog.
            </p>
        </div>
        <div class="col  align-self-end">
            <img src="../assets/img/diversity-29.png" class="img-fluid" alt="Hero Bookland" width="500" height="500">
        </div>
    </div>
</div>


<div class="container px-4 pb-5">
    <h2 class="pb-2 text-body-emphasis text-center display-6 pb-5">Services</h2>
    <div class="row justify-content-between">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../assets/img/reading-a-book-71.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Book and Material Lending</h5>
                    <p class="card-text lead">Borrow from our vast collection of books.</p>
                    <a href="#" class="btn btn-primary lead">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../assets/img/book-lover-33.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Digital Resources</h5>
                    <p class="card-text lead">Access e-books and multimedia content online.</p>
                    <a href="#" class="btn btn-primary lead">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../assets/img/reading-a-book-96.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cultural Events</h5>
                    <p class="card-text lead">Participate in readings, talks, and community events.</p>
                    <a href="#" class="btn btn-primary lead">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
