@{
    ViewData["Title"] = "User";
}

<div class="row justify-content-around">
    <div class="col-5 text-center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../assets/img/ElViento.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Gone with the Wind</h5>
                        <p class="lead">by Margaret Mitchell</p>
                        <p class="card-text lead fs-6">La vida es bella por la razón del
                            corazon, esperando uno de los
                            mejores resultados que se ven
                            cada día</p>
                        <button type="button" class="btn btn-primary mt-4">Loan Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-5 text-center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../assets/img/ElViento.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Gone with the Wind</h5>
                        <p class="lead">by Margaret Mitchell</p>
                        <p class="card-text lead fs-6">La vida es bella por la razón del
                            corazon, esperando uno de los
                            mejores resultados que se ven
                            cada día</p>
                        <button type="button" class="btn btn-primary mt-4">Loan Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5 text-center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../assets/img/ElViento.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Gone with the Wind</h5>
                        <p class="lead">by Margaret Mitchell</p>
                        <p class="card-text lead fs-6">La vida es bella por la razón del
                            corazon, esperando uno de los
                            mejores resultados que se ven
                            cada día</p>
                        <button type="button" class="btn btn-primary mt-4">Loan Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5 text-center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../assets/img/ElViento.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Gone with the Wind</h5>
                        <p class="lead">by Margaret Mitchell</p>
                        <p class="card-text lead fs-6">La vida es bella por la razón del
                            corazon, esperando uno de los
                            mejores resultados que se ven
                            cada día</p>
                        <button type="button" class="btn btn-primary mt-4">Loan Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5 text-center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../assets/img/ElViento.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Gone with the Wind</h5>
                        <p class="lead">by Margaret Mitchell</p>
                        <p class="card-text lead fs-6">La vida es bella por la razón del
                            corazon, esperando uno de los
                            mejores resultados que se ven
                            cada día</p>
                        <button type="button" class="btn btn-primary mt-4">Loan Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>